@media all {
  :root {
    --primary-bg-color: #2a2a2a;
    --primary-txt-color: #fff;
    --secondary-bg-color: #fff;
    --secondary-txt-color: #000;
    --primary-fonts: 'Roboto', sans-serif;
    --secondary-fonts: 'Noto Serif', serif;
  }

  header,
  footer,
  nav,
  aside,
  article,
  section {
    display: block;
  }
  body {
    margin: 0;
    padding: 0;
  }
  #masthead h1 {
    margin: 0;
    font: 700 34px var(--secondary-fonts);
  }
  .navbar {
    padding: 0 !important;
  }

  .navbar .navbar-nav .nav-link:hover {
    background-color: #fff;
    transition: 0.3s;
    border-radius: 12px;
    padding: 8px 16px;
    color: #000 !important;
    font-weight: 500;
  }
  .navbar .navbar-nav .nav-link {
    margin-left: 10px;
    font-size: 1.2em;
    transition: all 0.5s;
    padding: 8px 16px;
    text-align: right;
    margin-bottom: 5px;
  }

  .navbar .navbar-brand {
    padding: 0 0.6em;
    font-size: 1.5em;
    font-weight: bold;
  }

  .nav-link {
    font-weight: 600;
    color: #fff !important;
    padding: 8px 16px;
    font-size: 16px;
  }
  .navbar-toggler {
    border: 0 !important;
  }
  .navbar-toggler:focus,
  .navbar-toggler:active,
  .navbar-toggler-icon:focus {
    outline: none !important;
    box-shadow: none !important;
    border: 0 !important;
  }
  .toggler-icon {
    width: 30px;
    height: 3px;
    background-color: #fff;
    display: block;
    transition: all 0.2s;
  }
  .middle-bar {
    margin: 5px auto;
  }

  .navbar-toggler .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
  }

  .navbar-toggler .middle-bar {
    opacity: 0;
    filter: alpha(opacity=0);
  }
  .navbar-toggler .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
  }
  .navbar-toggler.collapsed .top-bar {
    transform: rotate(0);
  }

  .navbar-toggler.collapsed .middle-bar {
    opacity: 1;
    filter: alpha(opacity=100);
  }

  .navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0);
  }
  .navbar-toggler.collapsed .toggler-icon {
    background-color: #fff;
  }
  .logo-img {
    width: 180px;
  }
  .nav-item {
    margin-left: 10px;
  }
  .bg-top {
    /* background-color: #2a2a2a !important; */
    padding: 30px 0;
    background: var(--primary-bg-color);
    color: var(--primary-txt-color);
    border-bottom: 1px solid #aaa;
  }
  .container,
  .container-fluid,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
  }

  /* #masthead {
    padding: 30px 0;
    background: var(--primary-bg-color);
    color: var(--primary-txt-color);
    border-bottom: 1px solid #aaa;
  } */

  /* package  */
  .package {
    width: 168px;
    height: 120px;
    text-decoration: none;
    background: #2a2a2a;
    color: var(--primary-txt-color);
    border: 5px solid var(--primary-bg-color);
    padding: 20px;
    display: flex;
    flex-direction: column;
    font-size: 16px;
  }
  .package:hover,
  .package:focus {
    background: var(--primary-txt-color);
    color: var(--primary-bg-color);
  }
}

@media screen {
  body {
    font: 400 100%/1.4 var(--primary-fonts);
  }
  h2 {
    font: 400 180%/1.4 var(--primary-fonts);
  }
  h3 {
    font: 700 140%/1.4 var(--primary-fonts);
  }
  footer {
    font-size: 90%;
    text-align: center;
    background: var(--primary-bg-color);
    color: var(--primary-txt-color);
    padding: 15px 0;
  }
  .container {
    /*! width: 1170px; */
    /*! margin: 0 auto; */
  }
  .title {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 40px !important;
    text-align: center;
  }
  .flex {
    display: flex;
    justify-content: space-between;
  }
  .wrap {
    flex-wrap: wrap;
  }
  .grid {
    display: grid;
  }
  .homeFeatureGrid {
    grid-template-columns: 60% 40%;
  }
  .adventureGrid {
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 200px;
    gap: 15px;
  }
  .serviceGrid {
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 120px;
    gap: 15px 30px;
  }

  /* masthead and top of content area */
  #masthead {
    padding: 30px 0;
    background: var(--primary-bg-color);
    color: var(--primary-txt-color);
    border-bottom: 1px solid #aaa;
  }
  #masthead nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  #masthead nav li {
    margin-left: 10px;
  }
  #masthead nav ul a,
  #pageContent .actionBtn {
    margin-top: 7px;
    color: var(--primary-txt-color);
    font-weight: 500;
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    border-radius: 12px;
  }
  #pageContent .actionBtn {
    background: #ccc;
    color: var(--secondary-txt-color);
    padding: 12px 20px;
    font-size: 120%;
  }
  #masthead nav ul a:hover,
  #masthead nav ul a:focus,
  #pageContent .actionBtn:hover,
  #pageContent .actionBtn:focus {
    background: var(--secondary-bg-color);
    color: var(--secondary-txt-color);
  }
  #pageContent {
    padding: 30px 0;
    background: var(--primary-bg-color);
    color: var(--primary-txt-color);
    overflow: auto;
  }
  #homeFeature {
    border: 7px solid #6b6b6b;
    border-radius: 50%;
    width: 375px;
    height: 375px;
    background: url(../i/maple-leaves-background.webp) no-repeat center;
    background-size: cover;
  }
  #homeFeatureHolder {
    justify-self: end;
  }
  #navMenuTrigger {
    display: none;
    margin-top: 7px;
    color: var(--primary-txt-color);
    text-decoration: none;
  }

  /* tours */
  #galleryHdr {
    text-align: center;
  }
  #tourGallery {
    background: #ccc;
    overflow: auto;
    padding: 30px 0 50px;
  }
  .tour {
    position: relative;
    top: 0;
    left: 0;
    border: 5px solid var(--primary-txt-color);
    box-sizing: border-box;
    background-size: cover;
  }
  .tour span {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 5px 0;
    background: rgba(0, 0, 0, 0.6);
    color: var(--primary-txt-color);
    text-align: center;
  }
  .tour em {
    font-size: 0px;
    width: 0;
    height: 0;
  }
  #fallTour {
    background: url(../i/fall-tour.webp) top left no-repeat;
    height: 200px;
  }
  #winterTour {
    background: url(../i/winter-tour.webp) top left no-repeat;
    height: 200px;
  }
  #springTour {
    background: url(../i/spring-tour.webp) center no-repeat;
    height: 200px;
  }
  #summerTour {
    background: url(../i/summer-tour.webp) center no-repeat;
    height: 200px;
  }
  #forestTour {
    background: url(../i/forest-tour.webp) center no-repeat;
    height: 200px;
  }
  #mountainTour {
    background: url(../i/mountain-tour.webp) center no-repeat;
    height: 200px;
  }
  #islandTour {
    background: url(../i/island-tour.webp) bottom center no-repeat;
    height: 200px;
  }
  #streamTour {
    background: url(../i/stream-tour.webp) center no-repeat;
    height: 200px;
  }

  /* services */
  #services {
    text-align: center;
    padding: 30px 0 50px;
  }
  /* .service {
    text-decoration: none;
    background: var(--primary-bg-color);
    color: var(--primary-txt-color);
    border: 5px solid var(--primary-bg-color);
    padding: 20px;
  } */
  /* .offer .fa-solid {
    display: block;
    height: 50px;
  }
  .offer:hover,
  .offer:focus {
    background: var(--primary-txt-color);
    color: var(--primary-bg-color);
  } */
}

@media screen and (max-width: 1190px) {
  .container {
    width: auto;
    padding: 0 20px;
  }
  .adventureGrid,
  .serviceGrid {
    grid-template-columns: repeat(3, 1fr);
  }
  .serviceGrid {
    gap: 15px;
  }
}

@media screen and (max-width: 1070px) {
  .homeFeatureGrid {
    grid-template-columns: 50% 50%;
  }
  .navtxt {
    font-size: 25px;
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 800px) {
  .adventureGrid,
  .serviceGrid {
    grid-template-columns: repeat(2, 1fr);
  }
  #pageContent > div.grid {
    display: block;
  }
  #homeFeature {
    width: 300px;
    height: 300px;
    margin: 50px auto 20px;
  }
  #navMenuTrigger {
    display: inline-block;
  }
  header nav li {
    display: none;
  }
  .navtxt {
    font-size: 25px;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 500px) {
  #masthead h1 {
    font-size: 25px;
  }
  .adventureGrid,
  .serviceGrid {
    grid-template-columns: 1fr;
  }

  #fallTour,
  #winterTour,
  #springTour,
  #summerTour,
  #forestTour,
  #mountainTour,
  #islandTour,
  #streamTour {
    height: 120px;
  }
  .package {
    width: 100%;
  }
}

@media print {
  body {
    font: 400 14pt/1.4 var(--secondary-fonts);
    color: var(--secondary-txt-color);
  }
  h2 {
    font: 400 20pt/1.4 var(--secondary-fonts);
  }
  h3 {
    font: 400 17pt/1.4 var(--secondary-fonts);
  }
  #masthead nav,
  .tour em {
    display: none;
  }
  #masthead h1 {
    font-size: 24pt;
  }
  footer {
    font-size: 11pt;
    margin-top: 30pt;
  }
  #pageContent {
    margin: 30pt 0;
  }
  .tour,
  .service {
    display: block;
    margin: 10pt 0;
  }
  a {
    color: var(--secondary-txt-color);
  }
}
